.sb {
    /* Set the height and other styles for your sidebar */
    height: 100%; /* You may adjust this value based on your design */
    overflow-y: scroll;
    scrollbar-width: thin; /* Firefox */
  }
  
  .sb::-webkit-scrollbar {
    width: 12px; /* Adjust the width based on your design */
  }
  
  .sb::-webkit-scrollbar-thumb {
    background-color: #c1c1c1; /* Adjust the color based on your design */
    border-radius: 6px;
  }
  
  .sb::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Adjust the color based on your design */
    border-radius: 6px;
  }
  